* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold {
    font-weight: 700;
}

body {
    background: #f5f7fa;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.wrap {
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    max-width: 1200px;
    margin: 0 auto;
}

/*-------- sidebar --------*/
.sideBar {
    width: 370px;
    background: #11305f;
}

.foto {
    width: 370px;
    padding-top: 40px;
}

.contacts,
.techSkills,
.softSkills {
    margin: 40px 60px 40px;
}

.about {
    padding: 110px 90px 110px 90px;
}

.contacts__title,
.techSkills__title,
.softSkills__title {
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 20px;
}

.contacts-tel span,
.contacts-email span {
    color: #fff;
    margin-right: 10px;
}

.contacts-tel a,
.contacts-email a {
    color: #fff;
    opacity: 0.5;
    text-decoration: underline;
}

.contacts-tel a {
    text-decoration: none;
}

.techSkills__list,
.softSkills__list {
    color: #cfd1d5;
    font-size: 14px;
    line-height: 24px;
    margin-left: 20px;
}

.techSkills__list li::marker,
.softSkills__list li::marker {
    color: #9b490e;
}


/*-------- end sidebar --------*/

/*-------- about --------*/
.profession {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 23px;
}

.info__container {
    margin-bottom: 65px;
}

.name {
    font-size: 45px;
    line-height: 89px;
    margin-bottom: 23px;
}

.discription {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.project {
    margin-bottom: 55px;
}

.project__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
}

.project__list {
    padding-inline-start: 20px;
}

.project__list li::marker {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.project__list li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #8b1b1b;
    text-decoration: none;
}

.dots {
    color: #595959;
}

.work {
    margin-bottom: 55px;
}

.work__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 20px;
}

.title__job {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.title__job span {
    font-size: 16px;
    line-height: 24px;
    color: #fe7518;
}

.period {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.divider {
    color: #000;
}

.company__list {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
    margin-left: 20px;
}

.education__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 20px;
}

.institution__title {
    color: #ff6b08;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
}

.faculty {
    font-size: 14px;
    line-height: 24px;
}